<%= form_with(model: @task, local: true ,url: choose_new_or_edit ) do |form| %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group form-group">
      <div class="controls">
        <%= form.label :"タイトル" %>
        <%= form.text_field :title, id: :task_title, class:"form-control"%>
      </div>
    </div>

    <div class="control-group form-group">
      <div class="controls">
        <%= form.label :"タスク内容" %>
        <%= form.text_area :content, id: :task_content, class:"form-control" %>
      </div>
    </div>

    <div class="control-group form-group">
      <div class="controls">
        <%= form.label :"終了期限" %>
        <%= form.date_field :deadline, id: :task_deadline, class:"form-control" %>
      </div>
    </div>

    <div class="control-group form-group">
      <div class="controls">
        <%= form.label :"進捗" %>
        <%= form.select :status, Task.statuses.keys, id: :status, class:"form-control" %>
      </div>
    </div>

    <div class="control-group form-group">
      <div class="controls">
        <%= form.label :"優先度" %>
        <%= form.select :priority, Task.priorities.keys, id: :priority, class:"form-control" %>
      </div>
    </div>

    <div class="control-group form-group">
      <div class="controls">
        <%= form.label :"ラベル" %>
        <% Label.all.each do |label| %>
          <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
          <label><%= label.name %></label>
        <% end %>
      </div>
    </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary", id:"sendMessageButton"%>
  </div>

<% end %>
